body {
    flex: 1 0 auto;
}

.bg-img {
    background: url('../imgs/IMG_20190514_120214.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75
}

.footer {
    height: 60px;
    line-height: 30px;
}

.rounded-150-div {
    height: 150px;
    width: 150px;
}

.gold-text {
    color: #b8860b;
}

.courier-new {
    font-family: "Courier New";
}

.min-width-250-px: {
    min-width: 250px;
}

.dark-opc-bg {
   background-color: #A7C6DA;
   color: #01161E
}

.border-gold {
    border-color: #b8860b!important;
}

.professional-div {
    background: url('../imgs/MLP_7372.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1
}

.personal-div {
    background: url('../imgs/1491785_625374170853917_1543696874_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1
}

.border-5 {
    border: 5px solid #726DA8;

}

.cust-shadow {
    box-shadow: 5px 5px 15px #01161E;
}

.bg-dark{
    background-color: #79BEEE !important;
   
}
