body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  background-color: #0278C2;
  font-family: "Courier New", Courier, monospace;
}

body #bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  max-width: 512px;
}

body #bg.br {
  background-color: #15B5F4;
  -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 0 100%, 85% 91%);
          clip-path: polygon(100% 0, 100% 38%, 100% 100%, 0 100%, 85% 91%);
  right: 0px !important;
}

body #bg.tl {
  background-color: #015990;
  -webkit-clip-path: polygon(100% 0, 38% 0%, 0 0, 0 100%, 15% 9%);
          clip-path: polygon(100% 0, 38% 0%, 0 0, 0 100%, 15% 9%);
}

header {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

header .circleContainer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EFFAFE;
}

header .circle-small {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

header .border2px {
  border: 2px solid #015990;
}

header .image {
  margin-bottom: 5px;
}

header .professional.image {
  background-image: url("../imgs/prof_40_opt.jpg");
  background-size: cover;
}

header .personal.image {
  background-image: url("../imgs/psn_40_opt.jpg");
  background-size: cover;
}

header .home.image {
  background-image: url("../imgs/home.svg");
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
}

main section#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main section#home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section#home .circleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EFFAFE;
}

main section#home .circleContainer a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

main section#home .circleContainer .circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

main section#home .circleContainer .professional.image {
  background-image: url("../imgs/prof_125_opt.jpg");
  background-size: cover;
}

main section#home .circleContainer .personal.image {
  background-image: url("../imgs/psn_125_opt.jpg");
  background-size: cover;
}

main section#home .border2px {
  border: 2px solid #015990;
}

main section#home #card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 384px;
  height: 15%;
  border-radius: 5px;
  background-color: #EFFAFE;
  text-align: center;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#home #card div {
  margin: auto;
}

main section#home #card div span.h1 {
  font-size: 2em;
  margin-top: auto auto auto auto;
}

.displayNone {
  display: none;
}
/*# sourceMappingURL=style.css.map */